<div class="container">
    <div class="row">
        <div class="col-6">
            <%= @event[:date] %>
            <h2><%= @event[:title] %></h2>
            <p><%= @event[:description] %></p>
        </div>
        <div class="col-3">
            <p>When?</p>
            <p><%= @event[:date] %></p>
            <p>Where?</p>
            <p><%= @event[:location] %></p>
            <p>How many guests so far?</p>
            <p>1</p>
        </div>
    </div>
</div>